<nav class="menufixed">
  <div class="divFix">
    <h3 class="main__section__nav--titulo"><span>menu</span> Categorias</h3>
    <div class="main_section_nav_categorias" id="categorias-nav">
      <ul class="menuCatMobile" id="menuCategories">
        <li class="main__section__nav--categoria">
            <a
              class="main__section__nav--categoria-titulo"
              href="/products"
              >Todos</a
            >
            <span>
              Aquí encontraras todos los productos disponibes en la tienda!.
            </span>
          </li>
        <li class="main__section__nav--categoria">
          <a
            class="main__section__nav--categoria-titulo"
            href="/products/Cuerdas"
            >Cuerdas</a
          >
          <span>
            Aquí encontraras: Guitarras, bajos, pianos, arpas y todos aquellos
            instrumentos que requieran la ejecucion de cuerdas para producir
            sonido
          </span>
          <!--  <ul class="submenu--categorias">
                    <li><a href="#">Guitarras</a></li>
                    <li><a href="#">Bajos</a></li>
                    <li><a href="#">Violines</a></li>
                    <li><a href="#">Violas</a></li>
                    <li><a href="#">Pianos</a></li>
                </ul> -->
        </li>
        <li class="main__section__nav--categoria">
          <a
            class="main__section__nav--categoria-titulo"
            href="/products/Vientos"
            >Vientos</a
          >
          <span>
            Aquí encontraras: trompetas, saxofones, flautas, acordeones y todos
            aquellos instrumentos que requieran de viento para producir sonido.
          </span>
          <!--    <ul class="submenu--categorias">
                    <li><a href="#">Saxofones</a></li>
                    <li><a href="#">Trompetas</a></li>
                    <li><a href="#">Acordeones</a></li>  
                    <li><a href="#">Clarinetes</a></li>
                </ul> -->
        </li>
        <li class="main__section__nav--categoria">
          <a
            class="main__section__nav--categoria-titulo"
            href="/products/Percusion"
            >Percusión</a
          >
          <span>
            Aquí encontraras: Baterias, bongoes, platos y aquellos instrumentos
            relacionados a la Percusión.
          </span>
          <!--         <ul class="submenu--categorias">
                    <li><a href="#">Baterias</a></li>
                    <li><a href="#">Tumbadoras</a></li>
                    <li><a href="#">Platos</a></li> 
                </ul> -->
        </li>
        <li class="main__section__nav--categoria">
          <a
            class="main__section__nav--categoria-titulo"
            href="/products/Electronicos"
            >Electrónicos</a
          >
          <span>
            Aquí encontraras: Amplificadores, teclados, consolas y todo lo
            relacionado a la electronica y la musica!
          </span>
          <!--   <ul class="submenu--categorias">
                    <li><a href="#">Teclados</a></li>
                    <li><a href="#">Amplificadores</a></li>
                    <li><a href="#">Microfonos</a></li>
                </ul> -->
        </li>
        <li class="main__section__nav--categoria">
          <a
            class="main__section__nav--categoria-titulo"
            href="/products/Accesorios"
            >Accesorios</a
          >
          <span>
            Aquí encontraras todo tipo de accesorios como: capotrastes,
            soportes, fundas, etc.
          </span>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
