<nav>
    <h3 class="main__section__nav--titulo" id="menuCategoria">Categorias</h3>
    <div class="main_section_nav_categorias" id="categorias-nav">
        <ul class="menuCatMobile" >
            <li class="main__section__nav--categoria"><a class="main__section__nav--categoria-titulo" href="/products/Cuerdas">Cuerdas</a>
                <ul class="submenu--categorias">
                                     <li><a href="#">Guitarras</a></li>
                    <li><a href="#">Bajos</a></li>
                    <li><a href="#">Violines</a></li>
                    <li><a href="#">Violas</a></li>
                    <li><a href="#">Contrabajos</a></li>
                    <li><a href="#">Pianos</a></li>
                    <li><a href="#">Arpas</a></li>
                </ul>
            </li>
            <li class="main__section__nav--categoria"><a class="main__section__nav--categoria-titulo" href="/products/Vientos">Vientos</a>
                <ul class="submenu--categorias">
                  
                    <li><a href="#">Saxofones</a></li>
                    <li><a href="#">Trombones</a></li>
                    <li><a href="#">Trompetas</a></li>
                    <li><a href="#">Acordeones</a></li>
                    <li><a href="#">Armonicas</a></li>
                    <li><a href="#">Clarinetes</a></li>
                    <li><a href="#">Flautas</a></li>
                </ul>
            </li>
            <li class="main__section__nav--categoria"><a class="main__section__nav--categoria-titulo" href="/products/Percusión">Percucion</a>
                <ul class="submenu--categorias">
                   
                    <li><a href="#">Baterias</a></li>
                    <li><a href="#">Tumbadoras</a></li>
                    <li><a href="#">Bongoes</a></li>
                    <li><a href="#">Platos</a></li>
                    <li><a href="#">Complementos</a></li>
                </ul>

            </li>
            <li class="main__section__nav--categoria"><a class="main__section__nav--categoria-titulo" href="/products/Electrónicos">Electronicos</a>
                <ul class="submenu--categorias">
                  
                    <li><a href="#">Teclados</a></li>
                    <li><a href="#">Amplificadores</a></li>
                    <li><a href="#">Microfonos</a></li>
                    <li><a href="#">Consolas</a></li>
                </ul>
            </li>
            <li class="main__section__nav--categoria"><a class="main__section__nav--categoria-titulo" href="/products/Accesorios">Accesorios</a></li>
        </ul>
    </div>  
 
</nav>