   
<h2 class="home__main__title">ofertas</h2>
          <div class="home__main__cardsCarrusel">
                <div class="home__main__conteiner">
                    <img class="home__main__conteiner--img-producto" src="./img/productos/<%= images[0].name %>" alt="<%= title %>">
                    <div class="home__main__conteiner--descuento">
                    <h2>20% off</h2>
                    </div>
                    <div class="home__main__conteiner--descripcion">
                      <p>Guitarra Electroacustica Sigma Guitars</p>
                      </div>
                </div>