<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include('./partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main>
      <article class="container">
        <section>
          <h1>
            La musicoterapia y su capacidad para ayudar al ser humano a
            expresarse con instrumentos musicales
          </h1>
          <p>
            La musicoterapia es una disciplina terapéutica que utiliza la música
            como medio para tratar diversas problemáticas del ser humano. Esta
            técnica se basa en la idea de que la música tiene la capacidad de
            influir en los estados emocionales y psicológicos del individuo, y
            por tanto, puede ser utilizada para ayudar en el tratamiento de
            trastornos emocionales, cognitivos, sociales o físicos.
          </p>
          <p>
            La musicoterapia se aplica en diferentes contextos, como hospitales,
            centros de rehabilitación, escuelas y centros de atención
            especializada. El objetivo principal de la musicoterapia es utilizar
            la música como una herramienta terapéutica para mejorar la calidad
            de vida de los pacientes.
          </p>
          <p>
            La musicoterapia se utiliza para tratar una amplia gama de
            problemas, incluyendo trastornos del espectro autista, problemas de
            ansiedad y estrés, problemas de conducta, problemas de comunicación,
            trastornos del estado de ánimo, entre otros.
          </p>
          <p>
            Una de las principales ventajas de la musicoterapia es que permite a
            los pacientes expresarse y comunicarse a través de la música,
            incluso si no pueden hacerlo verbalmente. Esto es especialmente
            importante para pacientes con trastornos del espectro autista o para
            personas con discapacidades físicas o cognitivas que les impiden
            comunicarse de manera efectiva.
          </p>
          <p>
            El uso de instrumentos musicales en la musicoterapia es fundamental.
            Los pacientes pueden expresar sus emociones y sentimientos a través
            de la música, utilizando instrumentos como la guitarra, el piano, la
            batería, entre otros. Los terapeutas utilizan la música para ayudar
            a los pacientes a relajarse, a reducir el estrés y la ansiedad, y a
            mejorar su autoestima y autoconcepto.
          </p>
          <p>
            Además, la música también se utiliza para fomentar la interacción
            social y la comunicación entre los pacientes. Se pueden realizar
            actividades grupales en las que se anima a los pacientes a tocar
            juntos, cantar juntos y crear música en equipo. Esto ayuda a
            fomentar la cohesión y la integración social.
          </p>
        </section>
      </article>
      <article>
        <form action="" class="container d-flex flex-column align-items-center px-5 ">
          <div class="form-group px-5">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
          <div class="form-group px-5">
            <label for="textarea">Dejanos comentarios sobre esta seccion:</label>
            <textarea name="textarea" id="textarea" class="form-control" cols="10" rows="5"></textarea>
          </div>
          <div class="form-group p  x-5">
            <button type="submit" class="btn btn-primary">Enviar!</button>
          </div>
        </form>
      </article>
      
    </main>
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
    <!-- SCRIPTS -->
    <%- include('./partials/scripts') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>
  </body>
</html>
