<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %> 
<body>
    <!-- HEADER -->
<%- include('./partials/header') %> 
    <!-- Main -->
    <main class="create__main">
        <section class="create__main__section">
            <div class="create__main__section__div--form-box">
                <form action="/products/create" method="post" class="form__create">
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                    <div><label for=""></label></div>
                </form>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %> 
    
</body>
</html>