<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAPASONG | Login</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/bd0eb781b4.js" crossorigin="anonymous"></script>
    
</head>
<!-- VISTA LOGIN USER -->
<body class="login">
    <!-- HEADER -->
    <header class="header">

        <!-- Icono menu -->
        <button class="header--btn-menu" id="iconomenu">
            <i class="fa-solid fa-bars ubtn" id="iconomenu"></i>
        </button>
        <!-- Logo -->
        <figure class="header--logo">
            <a href="/"><img src="img/logoDiapasong.png" alt="Image-logo">
                <h1>Instrumentos Musicales</h1>
            </a>
        </figure>
        <!--Iconos navegacion -->
        <section class="header__section--user-navigation">
            <a href="/user"><i class="fa-solid fa-user"></i></a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a class="header_redes" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="header_redes" href="#"><i class="fa-brands fa-instagram"></i></a>
        </section>
        <!-- Buscador -->
        <form class="header--search-bar" action="">
            <input type="text" name="search-bar" placeholder="¿Que buscas?" id="search-bar">
            <a class="lupa" href="#"><i class="fa-solid fa-magnifying-glass search-icon"></i></a>
        </form>
        <!-- Icono Whatsap -->
        <div class="header--whatsapp-icon">
            <a href="#"><i class="fa-solid fa-phone"></i><span class="Whatsapp-text">Whatsapp</span></a>


        </div>

        <!-- Menu -->
        <nav class="header__nav" id="header_nav">
            <ul>
                <li class="productos_btn"><a href="/products">Productos</a></li>
                <li class="blob_btn"><a href="/blog">Blog</a></li>
                <li class="entradas_btn"><a href="tickets">Entradas</a></li>
                <li class="envios_btn"><a href="#">Quienes somos!</a></li>
                <li class="faq_btn"><a href="/faq">Faq</a></li>
            </ul>
        </nav>
    </header>
    <!-- MAIN -->
    <main class="login__main">
        <section class="login__main__section">
            <!-- TITULO SITIO -->
            <h3 class="login__main__section--title">inicia sesión o crea una cuenta</h3>
            <form class="login__formbox" action="" method="post">
                <!-- E-MAIL -->
                <div>
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu mail" required>
                </div>
                <!-- PASSWORD -->
                <div>
                    <label for="password">contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña"
                        minlength="8" required>
                </div>
                <!-- BOTONES LOGIN Y register -->
                <div class="login__formbox--btn-box">
                    <button class="btn--login" type="submit">iniciar sesión</button>

                    <button class="btn--register" type="reset"><a href="/register">crear cuenta</a></button>
                </div>

            </form>
        </section>

    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer__top">
        <!-- LOGO -->
        <div class="footer__logo">
            <img src="/img/logoDiapasong.png" alt="Logo Diapasong">
        </div>
        
        <!-- REDES -->
        <nav class="footer__redes">
            <b>seguinos en nuestras redes</b>
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </nav>
        <!-- LINKS SITIO -->
        <nav class="footer__links">
            <b>links</b>
            <ul>
                <li><a href="/products">productos</a></li>
                <li><a href="/bolg">blog</a></li>
                <li><a href="/tickets">entradas</a></li>
                <li><a href="">envios</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
        <!-- LINKS CUENTA -->
        <nav class="footer__links">
            <b>cuenta</b>
            <ul>
                <li><a href="/login">mi cuenta</a></li>
                <li><a href="/productCart">carrito</a></li>
            </ul>
        </nav>
        <nav class="footer__links--contacto">
            <b>contacto</b>
            <ul>
                <li><a href="tel:+12345678">12345678</a></li>
                <li><a href="mailto:ventas@diapasong.com.ar">ventas@diapasong.com.ar</a></li>
                <li><!-- <a href=""></a> --><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2010.109030140013!2d-58.37138422275975!3d-34.59535660858388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335bd8305e7a9%3A0xc41a764ce655671f!2sGlobant%20Tower!5e0!3m2!1ses-419!2sar!4v1673717852325!5m2!1ses-419!2sar" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
            </ul>
        </nav>
        <div class="footer__medios-de-pago">
            <b>medios de pago</b>            
            <img src="/img/mediosdepago.png" alt="medios de pago">
        </div>
    </div>
    <div class="footer__bottom">
        <p>2022 - lorem ipsum dolor sit amet</p>

    </div>

    </footer>
    <script src="../javascript/dinamic.js"></script>
</body>

</html>