<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %> 

<body class="login">
    
<!-- HEADER -->
<%- include('./partials/header') %> 

    <!-- MAIN -->
    <main class="login__main">
        <section class="login__main__section">
            <!-- TITULO SITIO -->
            <h3 class="login__main__section--title">inicia sesión o crea una cuenta</h3>
            <form class="login__formbox" action="" method="post">
                <!-- E-MAIL -->
                <div>
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu mail" required>
                </div>
                <!-- PASSWORD -->
                <div>
                    <label for="password">contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña"
                        minlength="8" required>
                </div>
                <!-- BOTONES LOGIN Y register -->
                <div class="login__formbox--btn-box">
                    <button class="btn--crear-cuenta" type="submit"><a href="/">iniciar sesión</a></button>

                    <button class="btn--crear-cuenta" type="reset"><a href="/users/register">crear cuenta</a></button>
                </div>

            </form>
            <!-- OLVIDA CONTRASEÑA -->
            <div class="login__main__section--forget-password">
                <p>¿Olvidaste tu contraseña? Recuperala<a href="/password"> aquí.</a></p>
            </div>
        </section>

    </main>
    <!-- FOOTER -->
 <!-- FOOTER -->
<%- include('./partials/footer') %> 

    <script src="../javascript/dinamic.js"></script>
</body>

</html>