<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %> 
</head>
<body>
    <%- include("./partials/header") %>
    <main class="password__main">
        <section class="password__main__section">
            <!-- TITULO SITIO -->
            <h3 class="password__main__section--title">recuperar contraseña</h3>
            <form class="password__formbox" action="" method="post">
                <!-- E-MAIL -->
                <div>
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu mail" required>
                </div>
            
                <!-- BOTON recupero -->
                <div class="password__formbox--btn-box">
                    <button class="btn--password" type="submit"><a href="/">enviar correo de recuperación</a></button>
                </div>

            </form>
            <!-- OLVIDA CONTRASEÑA -->
            <div class="password__main__section--forget-password">
                <p>¿Ya la recordaste? Inicia sesión <a href="/users/login">aquí.</a></p>
            </div>
        </section>

    </main>
    <%- include("./partials/footer") %>
</body>
</html>