<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %> 

<body>

<!-- HEADER -->
<%- include('./partials/header') %> 
    <!-- MAIN -->
    <main>
        <h1>ACCESO A COMPRA DE TICKETS EN CONSTRUCCIÓN</h1>
    </main>
    <%- include('./partials/footer') %> 
</body>
<!--Slick script-->
<%- include('./partials/scripts') %>
</html>