.user-list{
    display: flex;
    flex-direction: column;
}
.dashboard-product{
    display: flex;
    flex-direction: row;

    border-bottom: 1px black solid;
}
.dashboard-product h6{
    margin-top: 10px;
width: 200px;
text-align: center;
}
.dashboard-button-delete{
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(3, 3, 3);
    color: white;
    text-align: center;
    border-radius: 50%;

}    
.dashboard-button-edit{
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: none;
    width: 40px;
    cursor: pointer;
    height: 40px;
    color: white;
    border-radius: 50%;
    align-self: center;
}    
.dashboard-button-edit i{
 
}   
.dashboard-button-edit:hover{
  
    color: rgb(178, 207, 47);
}    
.dashboard-button-delete:hover{
  
    color: rgb(155, 31, 31);
}   

.dashboard-title{
font-weight: 600;

}
.dashboard-table-user{
    padding: 10px 50px;
}
.dashboard-table-product{
    padding: 10px 50px;
}
.dashboard h2{
    padding: 0 50px;
}
.metric{
  padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.metricProd{
    text-transform: uppercase;
 padding-top: 20px;
    display: flex;
  
    flex-direction: column;
    text-align: center;
    height: 150px;
    width: 30%;
background-color: rgb(247, 142, 142);
}
.metricUs{
    text-transform: uppercase;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 150px;
    text-align: center;
    width: 30%;
    background-color: rgb(120, 207, 142);
}
#countProduct{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    font-size: 50px;
background-color: bisque;
 border-radius: 50%;



}
#countUsers{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    font-size: 50px;
background-color: bisque;
 border-radius: 50%;
 
}
.cabecera{
    background-color: rgb(230, 141, 252);
}
.cabeceraa{
background-color: rgb(230, 141, 252);

}
.dashboard-paginate-list{
position: relative;
top: 20px;
}