.product-list{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.dashboard-product{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px black solid;
}
.dashboard-product h6{
width: 200px;
}
.dashboard-button-delete{
    border: none;
    cursor: pointer;
    background-color: brown;}