html, body {
    margin: 0;
    padding: 0;
  }
  
  #fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: 1;
  }
  
  #caja {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
  }
  
  #contenido {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    color: white;
    visibility: hidden;
  }
  
  #caja:hover + #contenido {
    visibility: visible;
  }
  