/* MOBILE FIRST */
.footer {
    width: 100%;
    text-transform: capitalize;
}
.footer a{
    color: white;
}

.footer__top {
    color: white;
    width: 100%;
    padding: 10px;
    /* background: rgb(34,142,255); */
    background: linear-gradient(180deg, rgba(34, 142, 255, 0.7) 0%, rgba(33, 224, 255, 0.8) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer__logo {
    width: 35%;
    align-items: center;
}

.footer__logo img {
    width: 100%;
}

.footer__redes b {}

.footer__redes ul {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer__redes i {
    color: white;
    font-size: 30px;
}

.footer__medios-de-pago,
.footer__links,
.footer__links--contacto,
.footer__links--contacto ul,
.footer__links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.footer__links--contacto ul {
    text-transform: lowercase;
}
.footer__medios-de-pago{width: 100%;}
.footer__medios-de-pago img {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 5px;
}

.footer__bottom {text-align: center;}

.footer__links--contacto {
    align-items: center;
}

/* TABLET */
@media (min-width: 768px) {
    .footer__top {

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        padding: 10px 30px;
        gap: 0;
    }

    .footer__logo {

width: 30%;

}

    .footer__links {
        align-items: flex-start;
    }

    .footer__redes {
        align-self: center;
        width: 30%;
        order: 1;
        text-align: center;
        padding-right: 25px;
    }

    .footer__medios-de-pago {
        align-self: center;
        order: 2;
        width: 40%;
    }

    .footer__links ul,
    .footer__links--contacto ul {
        align-items: flex-start;
    }

.footer__links--contacto {
    align-items: flex-start;
    order: 2;
    width: 30%;
}
}

/* DESKTOP */
@media (min-width: 1024px) {
    .footer{
        
    }
    .footer__bottom{
        
    }
    .footer__links{
        
align-content: flex-start;
        
width: 20%;
    }
    .footer__links--contacto{

align-content: flex-start;

}
    .footer__logo img{
        
width: 290px;
    }
    .footer__logo{

}
    .footer__medios-de-pago{

    }
    .footer__redes{

width: 30%;

}
    .footer__top{
    }
}