/* MOBILE FIRST */
.footer {
    width: 100%;
    text-transform: capitalize;
}

.footer a {
    color: white;
}

.footer__top {
    color: white;
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, rgba(34, 142, 255, 0.7) 0%, rgba(33, 224, 255, 0.8) 100%);
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__logo img {
    width: 125px;
}
.footer__redes{
    width: 84%;
    text-align: center;
}

.footer__redes b {}

.footer__redes ul {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer__redes i {
    color: white;
    font-size: 30px;
}

.footer__medios-de-pago,
.footer__links,
.footer__links--contacto,
.footer__links--contacto ul,
.footer__links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.footer__links--contacto ul {
    text-transform: lowercase;
}

.footer__medios-de-pago {
    width: 100%;
}

.footer__medios-de-pago img {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.349);
    bius: 5px;
}

.footer__bottom {
    text-align: center;
}

.footer__bottom p{
    margin: 0;
}

.footer__links--contacto {
    align-items: center;
    width: 90%;
}
.footer__links--contacto iframe{
    height: 100px;
}

/* TABLET */
@media (min-width: 768px) {
    .footer__top {
        display: flex;
        padding: 10px 30px;
        gap: 0;
        height: 281px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .footer__logo {width: 200px;justify-content: flex-start;}

    .footer__links {
        align-items: flex-start;
        width: 122px;
        order: 2;
        height: 100%;
    }

    .footer__redes {
        align-self: center;
        text-align: center;
        padding-right: 25px;
        order: 3;
        width: 250px;
    }

    .footer__medios-de-pago {
        align-self: center;
        order: 3;
        width: 287px;
    }

    .footer__links ul,
    .footer__links--contacto ul {
        align-items: flex-start;
    }

    .footer__links--contacto {
        align-items: flex-start;
        width: 30%;
        order: 1;
    }

    .footer__links--contacto iframe {
        height: 100px;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    .footer {}

    .footer__bottom {}

    .footer__links {

align-content: flex-start;

/* height: 50%; */
}

    .footer__links--contacto {
        align-content: flex-start;

    }

    .footer__logo img {
        /* width: 290px; */
    }

    .footer__logo {
    width: 13%;
}

    .footer__medios-de-pago {
}

    .footer__redes {
        width: 30%;
        height: 25%;
    }

    .footer__top {
        height: 286px;
        justify-content: space-between;
    }
}