
* {
    box-sizing: border-box;
    margin: 0;
    font-family:var(--fuenteGeneral);
}
body{
    background-color: var(--colorFondoBody);
}
main{
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}