/* MOBILE FIRST */
.login {
    width: 100%;
}

.login__main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login__main__section {
    display: flex;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 600px;
}

.login__main__section--title {
    text-transform: uppercase;
}

.login__formbox {
    background-color: white;
    width: 90%;
    padding: 25px;
    text-transform: uppercase;
    font-size: larger;
    gap: 20px;
}

.login__formbox div {
    flex-direction: column;
    width: 100%;
}
.login__formbox__div__errors{
    color: red
}

.login__formbox label {
    width: 100%;
    justify-content: flex-start;
}

.login__formbox input {
    width: 100%;
    background-color: rgba(240, 229, 245, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.login__formbox--btn-box button {}
.login__formbox--btn-box{
    gap: 8px;
}
.btn--login,
.btn--register {
    background-color: rgb(243 238 238);
    border: 2px solid #000000;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    text-align: center;
    background: rgba(255, 252, 252, 0.5);
}

.btn--register:hover{
    background-color: rgb(150 119 255 / 36%);
    box-shadow: 0px 0px 18px 1px rgb(129 129 129);
    width: 230px;
    font-size: large;
    text-decoration: none;
    color:#000000
}

.login__main__section .login__formbox div .is-invalid{
    border: 2px rgb(233, 53, 53) solid;
       
}
.login__main__section .login__formbox div .is-valid{
    border: 2px rgb(0, 255, 128) solid;
}

/* TABLET */
@media (min-width: 768px) {
    .login__formbox {

        width: 70%;
    }

}

/* DESKTOP */
@media (min-width: 1024px) {}