.login__main{

}
.login__main__section{
    display: flex;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.login__main__section--title{
    text-transform: uppercase;
}
.login__formbox{
    background-color: white;
    width: 100%;
    padding: 25px;
    text-transform: uppercase;
    font-size: larger;
    gap: 20px;
}
.login__formbox div{
    flex-direction: column;
    width: 100%;
}
.login__formbox label{
    width: 100%;
    justify-content: flex-start;
}
.login__formbox input{
    width: 100%;
    background-color: rgba(240, 229, 245, 0.5);
}
.login__formbox--btn-box button{
    
}
.btn--login, .btn--register{
    background-color: rgb(243 238 238);
    border: 3px solid #000000;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 15px;
}
