.menuCatMobile{
  background-color: rgb(147, 120, 172);
margin-bottom: 2px;}


.main__section__nav--categoria span{
display: none;
}
.main__section__nav--titulo{
  padding: 10px;
cursor: pointer;
margin-bottom: 5px;
}
.menuCatMobile{
display: none;
}
.showCategories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.btn--crear-prod{
position: fixed;
width: 100vw;
background: rgba(0, 0, 0);
text-transform: uppercase;
padding: 10px;
position: fixed;
bottom: 0;
right: 0;
letter-spacing: 1px;
color: white;
font-weight: 800;
font-size: 18px;

}
.btn--crear-prod i{
  margin-left: -15px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 20px ;
  border-radius: 50%;
  padding: 3px;
}
    
@media (min-width: 768px) {

}
@media (min-width: 1024px){
    /*NABBAR*/
    .main__section__nav--titulo{
      padding: 0;
    cursor: default;
    margin-bottom: 5px;
    }
    .showCategories{
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
    
    }
    .menuCatMobile{
      display: block;
      background: none
      }
.main__section__nav{
    display: flex;
     flex-direction: column;
     width: 190px;

   margin-right: 8px;
   
 }

 .main_section_nav_categorias{
     display: flex;
     padding-left: 10px;
     background-color: rgb(147, 120, 172);
     /* height: 550px; */
     text-decoration: none;
}
.main__section__nav--categoria span{
  display: none;
  width: 155px;
  margin-left: -10px;
  background-color: rgb(180, 147, 211, 0.7);
  font-size: 15px;
  text-align: center;
  padding: 5px;
  border: 1px solid rgba(52, 0, 115, 0.692);
  border-radius: 10px;
  position: absolute;
  left: 150px;
  z-index: 100;
}
.main__section__nav--categoria:hover span{
display: flex;

}
 
 .main__section__nav--titulo{
 background-color: black;
 color: white;
 text-align: center;
 text-transform: uppercase;
 font-size: 18px;
 }
 .main__section__nav--categoria-titulo{
 text-transform: uppercase;
 font-weight: bold;
 letter-spacing:3px;
 margin-left: 0;
 text-shadow: 1px 1px 2px black;
 }
 
 .main__section__nav--categoria ul li{
 margin-left: 25px;
 }
 
 .main__section__nav--categoria ul{
    border-left: 2px white solid;
    margin-bottom:10px ;
 
 }
 .main__section__nav--categoria ul li a:hover{
    text-decoration: none;
    
     letter-spacing: 1px;   
 }
 .main__section__nav--categoria ul a{
 text-decoration: none; 
  }
  .btn--crear-prod{
position: fixed;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    padding: 10px;
 width: 100%;
    color: white;
    font-weight: 800;
    cursor: pointer;
    z-index: 3;
    border: none;
    }
    .btn--crear-prod i{
      margin-left: -15px;
      background-color: white;
      color: rgb(0, 0, 0);
      font-weight: 900;
      font-size: 15px ;
      border-radius: 50%;
      padding: 3px;
    }
    
   
      .fixed{
       position: relative;
      width: 155px;
    
      }
      .fixed .divFix{
        position: fixed;
        top:88px;
        bottom: 0;
        z-index:1;
        
        
        
      }
.spaceComplementFixed{
  background-color: red;
  
        height: 800px;
      }
      
}