.productos_detalles-titulo{
    color: black;
text-transform: uppercase;
text-align: center;
font-size: 40px;
letter-spacing: 2px;
height: 100px;
line-height: 100px;

padding:5px;
width: 100%;
color: black;
font-weight: 900;
background-color:rgb(138, 116, 151);
border-bottom: 3px white solid
}

.detalle-producto figure img{
width: auto;
height: 370px;

}
.detalles_producto{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
    }
.detalle-producto-precio, .detalle-producto-comprar, .detalle-producto-agregar {
  display: flex;
justify-content: center;  
}

.detalle-producto-precio h5, .detalle-producto-comprar a, .detalle-producto-agregar a{

    width: 50%;
    margin: 10px;
    background: rgba(255, 252, 252, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.detalle-producto-medios img{
    width: 50%;
    background: rgba(255, 252, 252, 0.5);
}
.detalle_producto-descripcion{
padding: 10px;
}
.detalle_producto-descripcion a{
    margin: 0 5px;
    color:white
}

.descripcion-mas{
    display: none;
}
.detalle_producto-descripcion a::before .descripcion-mas{
    display: flex;
}

.detalle_producto-caracteristicas{
 padding: 10px;
 
}

.detalle_producto-caracteristicas-grisClaro{
display: flex;
flex-direction: row;
background: rgb(145, 144, 144);
height: 35px;
line-height: 35px;


}
.detalle_producto-caracteristicas-grisOscuro{
    display: flex;
    flex-direction: row;
    background: rgb(58, 56, 56);
    height: 35px;
line-height: 35px;
    }
.detalle_producto-caracteristicas-grisClaro h6, .detalle_producto-caracteristicas-grisOscuro h6{
    font-weight: bolder;
    align-self: center;
text-align: left;
width: 50%;
text-transform: uppercase;
padding-left: 10px;
color: rgb(255, 255, 255);
height: 35px;
line-height: 35px;
}
.detalle_producto-caracteristicas-grisClaro p, .detalle_producto-caracteristicas-grisOscuro p{
    color: rgb(93, 92, 92);
    text-transform: uppercase;
    padding-left: 10px;
text-align: left;
width: 50%;
color: rgb(255, 255, 255);
border-left: 1px white solid;
height: 35px;
line-height: 35px;

    }
.product-buttons{
    display: flex;
    margin: 0, auto;
    justify-content: center;
    gap: 10px;
}

    @media (min-width: 768px) {

    }
    @media (min-width: 1024px){
        .main__section__productos-superior{
justify-content: center;
flex-wrap: nowrap;

        }
        .detalle-producto figure img{
height: auto;
        }
       
        
        }
