.body-productos{
    background-color: var(--colorFondoBody);
}
.main__section__productos{
   
    background-color: rgb(130, 72, 184);
    display: flex;
    flex-wrap: wrap;
   padding-bottom: 100px;
    justify-content: center; 
}
.subtitulo_productos{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
}
/*NAVBAR*/
.main_section_nav_categorias{
    display: none;

    }
    .main_section_nav_categorias ul li a{
        color: rgb(255, 255, 255);
    
        }

    .main__section__nav--titulo{
        background-color: black;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        padding: 0;
        margin: 0;
        }
/*MAIN PRODUCTOS*/

.carousel-control-next{
    position: relative;
left: 55px;
}
.main__section__productos{
    display: flex;
    flex-direction: row;
    
}
.productos__main__section{
    background-color: rgb(122, 98, 136);
    width: 80%;
    color: white;
    padding: 25px;
    text-align: center;
}
.main__section__productos--producto{
    width: 250px;
    height: 390px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(5, 5, 5);
}
.main__section__productos__producto--imagen{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-self: center;
    
}
.main__section__productos__producto--imagen img{
    height: 180px;
    
    overflow: hidden;
    
}
.datos_productos{
    border-top: 2px rgba(0, 0, 0, 0.5) solid;
    padding: 10px;
    color: black;
}
.main__section__productos__producto--precio{
font-weight: bold;
}
.main__section__productos__producto--marca{
    font-weight: bold;
    color: rgb(165, 42, 42);
    }
    /*carrousel*/
.carousel-control-next{
    position: absolute;
 
   margin-left: 205px;

}
.carousel-control-prev{
    margin-left: -45px;

}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 80px;
    height: 80px;
}
.agregar-al-carrito{
    display: none;
}
@media (min-width: 768px) {

}
@media (min-width: 1024px){

    /*Quitando carrousel*/
.productos__main .carousel-item, .productos__main .active, .productos__main .carousel, .productos__main .slide {
    all: unset;
}
.productos__main .carousel-control-prev, .productos__main .carousel-control-next{
    display: none;
}   


/*NABBAR*/
.main__section__nav{
   display: flex;
    flex-direction: column;
    width: 190px;

  margin-right: 8px;
  background-color: rgb(147, 120, 172);
}
.main_section_nav_categorias{
    display: flex;
padding-left: 10px;}

.main__section__nav--titulo{
background-color: black;
color: white;
text-align: center;
text-transform: uppercase;
font-size: 18px;
}
.main__section__nav--categoria-titulo{
text-transform: uppercase;
font-weight: bold;
letter-spacing:3px;
margin-left: 0;
text-shadow: 1px 1px 2px black;
}

.main__section__nav--categoria ul li{
margin-left: 25px;
}

.main__section__nav--categoria ul{
   border-left: 2px white solid;
   margin-bottom:10px ;

}
.main__section__nav--categoria ul li a:hover{
   text-decoration: none;
    letter-spacing: 1px;   
}
.main__section__nav--categoria ul a{
text-decoration: none; 
 }
/*MAIN PRODUCTOS*/
.productos__main{
    display: flex;
    padding: 8px;
    min-width: auto;
    background-color: rgb(130, 72, 184);
    justify-content: center;
   
}
.main__section__productos-superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
min-width: auto;
height: 400px;
}
.main__section__productos{
 width: auto;
   background-color: rgb(147, 120, 172);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   padding-bottom: 100px;
    justify-content: center;

}
.main__section__productos--producto{
   
    width: 190px;
    height: 370px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(5, 5, 5);
    float: left;
    margin: 5px;   

}
.main__section__productos--producto:hover{
    padding: 0;
    border: 2px black solid;
    box-shadow: 1px 1x 1px rgb(5, 5, 5);
    box-shadow: none;
}
.main__section__productos--producto:hover a {
    box-shadow: 1px 1px 20px rgb(7, 7, 7);
    text-decoration: none;
    font-weight: bold;

    
}
.datos_productos{
    position:relative
}
.agregar-al-carrito{
    width: 189px;
    height: 25px;
    display: none;
   align-self: center;
   position: absolute;
   top:-17px;
   left: 0;
   text-align: right;
   color: rgb(255, 255, 255);
   background-color: black;
}
.carrito_prod{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    border: 2px black solid;
    top: -20px;
    right: -18px;
    color: black;
    background-color: rgb(255, 255, 255);
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0;
    text-align: right;
}
.main__section__productos--producto:hover .agregar-al-carrito{ 
    display: flex;
    
    
   
}


}