.main__section__productos_search{
    display: flex;
    width: 80%;
    row-gap: 10px;
    text-align: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #4b008280;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 2px 6px 1px indigo;
}
.productos_search--titulo{
    padding: 10px;
    display: flex;
    text-align:center;
    color:black;
    text-transform:capitalize;
}



/* background-color: rgb(152, 85, 214); */

.productos_search--error--text{
    display: flex;
    text-align:center;
    color: #fb0505;
    text-transform: uppercase;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}
.product__search--card{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search--img{
    width: 100px;
    object-fit: cover;
}
.productos_search--img{
    width: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;

   
}
.product__search--card--buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
}
.product__search--card--precio{
   
}
.product__search--card--comprar{
  
}
.product__search--card--agregar, 
.product__search--card--comprar, 
.product__search--card--precio{
        width: 100%;
        background: rgba(255, 252, 252, 0.5);
        /* border: 1px solid #000000; */
        border-radius: 15px;
        text-transform: uppercase;
        transition: all 0.5s;
        padding: 5px;
}
/* TABLET */
@media (min-width: 768px){
    .productos_search--titulo{
        display: flex;
        text-align:center;
        color:black;
        text-transform:capitalize;
        justify-content: center;
    }
    .main__section__productos_search{
        width: 40%;
        margin: 10px 30px 15px;
    }
    div.product__search--card{
    display: flex;
    justify-content: space-between;
    }
}
/* DESKTOP */
@media (min-width: 1024px){
    .productos_search--titulo{
        display: flex;
        text-align:center;
        color:black;
        text-transform:capitalize;
        
    }
    div.product__search--card{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        }
        .main__section__productos_search{
            width: 200px;
            margin: 15px 19px;
        }
}