@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.css';
@import './general.css';
@import './header.css';
@import './footer.css';
@import './home.css';
@import'./login.css';
@import'./register.css';
@import'./forms.css';
@import './create.css';
@import './update.css';
@import './blog.css';
@import'./user.css';
@import'./products.css';
@import'./productDetail.css';
@import'./productCart.css';
@import './password.css';
@import'./faq.css';
@import'./tickets.css';
@import'./results.css';
@import'./ticketDetail.css';
@import'./navbarProducts.css';

